*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
 background-color: rgb(39, 36, 36);
 display: flex;
 justify-content: center;
 margin-top: 30vh;
}

main {
    background-color: white;
    border: solid blue 2px;
    width: 25rem;
    height: 32.5rem;
    
}

.display {
    border: 2px solid black;
    height: 6rem;
    font-size: 5rem;
    text-align: end;
}

button {
    border: solid black 3px;
    width: 6rem;
    height: 5rem;
    font-size: 3rem;
    border-radius: 7px;
}

button:hover {
    background-color: lightgray;
}

div {
    display: flex;
    border: solid green 2px;
    justify-content: stretch;
}

.zero {
    width: 12.2rem;
}